<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NWSL Season Tracker | <%= tabTitle %></title>
    <link href="/styles/output.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
</head>