
@import url('https://fonts.cdnfonts.com/css/soccer-league');

a, h1, form, footer, h2, #roster, #seasonStats {
    font-family: 'Soccer League', sans-serif;
}

img {
    padding: 10px;
}

h1 {
    margin-top: 200px;
}

.card-deck-horizontal {
    display: flex;
    flex-wrap: wrap; 
    overflow-x: auto; 
    justify-content: right;
    flex-direction: column;
}

.card {
    flex: 0 0 auto; 
    margin-right: 15px; 
}



